header{
    text-align: right;}
h3{ font-family: 'Bad Script', cursive; 
    text-decoration: underline; 
    font-size: 20px; 
    text-indent: 10mm;}
.text{ font-family: 'Bad Script', cursive;
    font-size: 15px;
    text-indent: 10mm;}
