div.MenuLevel1 { 
    width: 250px; 
    white-space: nowrap; }
div.MenuLevel1 > div { 
    display: inline-block;
    background-color: lightgrey; 
    border: solid black 1px; 
    border-radius: 5px;
    position: relative; 
    cursor: pointer ;
    margin-left: -3px;
    width: 150px;}
div.MenuLevel2 { 
    width: 150px; 
    display: none }
div.MenuLevel2 > div { 
    background-color: lightgrey; 
    border: solid black 1px; 
    border-radius: 5px;
    cursor: pointer }
    div.MenuLevel1 > div:hover div.MenuLevel2 { 
        display: block; 
        position: absolute; 
         }
  @media all and (max-width:760px) 
  {
    div.MenuLevel1 {white-space: normal}
    div.MenuLevel1 > div { 
        display: block;
       }
    div.MenuLevel2 > div { 
        background-color: lightgrey; 
        border: solid black 1px; 
        border-radius: 5px;
        cursor: pointer }
    div.MenuLevel1 > div:hover div.MenuLevel2{ 
        display: block;
        position: absolute; 
        left: 80%;
         top: 90%; 
         z-index: 1 }}
  